<div class="flex-1">
  <%= render "application/navbar"%>
<div>

<article class="format lg:format-lg mt-5 px-5">
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white"><%= @item.title %></h2>
  <p class="mb-3 text-gray-500 dark:text-gray-400"><%= @item.description %></p>
  <p class="mb-3 text-gray-500 dark:text-gray-400"><%= @item.status %></p>

  <button class="text-white mt-5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
      <%= link_to "Edit", edit_item_path(@item) %>
  </button>
  <button class="text-white mt-5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
      <%= link_to "Destroy", item_path(@item), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
  </button>
</article>