<div class="flex-1">
  <%= render "application/navbar"%>
<div>

<h1><%= @item.title %></h1>

<p><%= @item.description %></p>
<p><%= @item.status %></p>


<ul>
  <li><%= link_to "Edit", edit_item_path(@item) %></li>
  <li><%= link_to "Destroy", item_path(@item), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
