<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container max-w-full h-screen dark:bg-gray-900">
      <%# Todo improve error message styling%>
      <div class="grid grid-cols-1">
        <%- if notice.present? %>
          <div class="text-center p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
            <%= notice %>
          </div>
        <% end %>
        <%- if alert.present? %>
          <div class="text-center alert p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <%= alert %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
