<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container flex max-w-full h-screen dark:bg-gray-900">
      <%# Todo improve error message styling%>
      <p class="notice mb-2 text-lg font-semibold text-gray-900 dark:text-white"><%= notice %></p>
      <p class="alert mb-2 text-lg font-semibold text-gray-900 dark:text-white"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
